<!DOCTYPE html>
<html lang='en'>
<title>resume | joseph krejci</title>
<div class="hero-unit">
  <div class="container">
    <div class="row">
     <div class="span12">
       <h1>Joseph Krejci
       </h1>
       <br />
	<p class="allText">Hello and thanks for stopping by! My name is Joey Krejci, and I am a
                   technology enthusiast.  I am very passionate about what I do and I love
                   learning new things and adapting to the ever changing world around us.
                   Working hard in a fast paced environment is the best place to find me.
                   Check the links above and feel free to view my resume by following the link below.
                   I look forward to hearing from you soon!</p>
<br />	
<%= link_to "click me!", "https://docs.google.com/document/d/1u7M2hs7PL_jXpVjvYskz2GRPJWuk9xx10OIKHwA2wQs/pub", :target => "_blank" %>
 	</div>
     </div>
    </div>
</div>
<br />






















</html>
